" source ~/.vim/vimrc
source ~/.vim/custom/set.vim
source ~/.vim/custom/remap.vim

let mapleader = " "

" Hide every window and show only editor tab
map <leader>h <Action>(HideAllWindows)

" Switch to project tree window
map <leader>p <Action>(ActivateProjectToolWindow)

" Switch to terminal window
map <leader>t <Action>(ActivateTerminalToolWindow)

" Close a tab
map <leader>x <Action>(CloseContent)

" Useful mappings
map <leader>f <Action>(GotoFile)
map <leader>g <Action>(FindInPath)
map <leader>s <Action>(Switcher)
nmap <leader>z <Action>(ToggleDistractionFreeMode)
nmap <leader>ru <Action>(Run)

" LSP maps
nmap gi <Action>(GotoImplementation)
nmap gu <Action>(FindUsages)
nmap gs <Action>(GotoSuperMethod)
nmap <leader>re <Action>(RenameElement)

" ideavim plugins (https://github.com/joshestein/ideavim-quickscope)
"let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']    " show highlight only after key press (needs restart)
set quickscope
